<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./friends.css">
    <title>Document</title>
</head>

<body>
<nav>
    <ul class="nav">
        <li>
            <a href="/">Profile</a>
        </li>
        <li>
            <a href="friends.html">Friends</a>
        </li>
        <li>
            <a href="new friend.html">Add a friend</a>
        </li>

    </ul>
</nav>
<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>

<h1>
    Friends of The Joker :
</h1>

<table>
    <tr>

        <ul>
            <li th:each="friend: ${friends}">
                <label>Name :
                </label>
                <a th:text="${friend.name}"></a>

                <label>Occupation :
                </label>
                <a th:text="${friend.occupation}"></a>

            </li>
        </ul>
    </tr>

</table>

</body>

</html>