<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
<nav>
    <ul class="nav">
        <li>
            <a href="/">Profile</a>
        </li>
        <li>
            <a href="friends.html">Friends</a>

        </li>
        <li>

            <a href="new friend.html">Add a friend</a>
        </li>
    </ul>
</nav>

<h1>Add a friend</h1>
<form action="#" th:action="@{/friends/add}" method="post">
    <label>Name <input type="text" name="name">
    </label>
    <label>Occupation <input type="text" name="occupation">
    </label>

    <br>
    <button type="submit">Add</button>
</form>

</body>

</html>